body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
  font-family: sans-serif;
}

.book-card {
  background-color: #bcdcdf;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #b7b7b7;
  width: 500px;
}

.add-book-form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #37afa9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
