body {
  font-family: sans-serif;
}

.main-banner{
    margin: 0;
}

.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  border: 2px solid black;
  margin: auto;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
  margin-top: 7px;
}

.msg{
    font-size: small;
    margin-bottom: 0px;
}
