body {
  font-family: sans-serif;
}

.main-bg {
  border: 2px solid #39afa9;
  border-radius: 5px;
  background-color:aliceblue;
  /* background-color: #cbe5eb; */
  padding: 10px;
}

.banner {
  margin: 0;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  width: 30%;
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 #b7afaf;
  
}

.book img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.book-info {
  padding: 20px;
  background-color: #bcdcdf;
}

.book-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;

}

.book-author {
  font-style: italic;
  margin-bottom: 10px;
  color: #4e4e4e;
}

.book-description {
  font-size: 14px;
  color: #4e4e4e;
}

.button {
  border: 1px solid black;
  display: block;
  min-width: 12vw;
  margin: 20px auto;
  padding: 12px;
  background-color: #37afa9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

#log-out {
  justify-content: flex-end;
}

#addbutton {
  margin: 20px 10px;
}

.button:hover,#search-button:hover {
  background-color: #82e1dc;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.book-genre {
  font-style: italic;
  margin-bottom: 10px;
  color: #4e4e4e;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .book {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons-right {
  margin-right: auto;
  order: 1;
}

.buttons-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  background-color: #37afa9;
  color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

#sort {
  display: block;
  border: 1px solid black;
  margin: 20px 0;
  padding: 10px;
  background-color: #39afa9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
